*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Tahoma';
	color: #fff;
}

header{
	display: flex;
	width: 100%;
	background: #131C33;
	color: #fff;
}

.conteiner{
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 1280px;
}

.logo{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #3C23DB;
}

#navbar{
	display: flex;
	align-items: center;
	list-style-type: none;
}

#navbar a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Arial';
	color: #fff;
	font-size: 22px;
	padding: 10px 15px;
}

#navbar a:hover{
	text-decoration: underline;
	text-decoration-color: #9462FF;
}

main{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.bg-home{
	background: #050F27;
}

.home{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.home h1{
	font-size: 64px;
}

.home h1 span{
	color: #9462FF;
}

.home p{
	font-family: 'Arial';
	font-size: 24px;
	font-style: italic;
	margin-top: 30px;
	text-transform: uppercase;
}

.button{
	display: flex;
	justify-content: center;
}

.button-home{
	text-decoration: none;
	margin: 70px;
	padding: 20px 50px;
	cursor: pointer;
	color: #fff;
	border-radius: 10px;
	font-size: 24px;
	text-align: center;
	background: linear-gradient(180deg, #3C23DB 0%, #6408F9 49.48%, #9462FF 98.44%);
	border: #000;
}

footer{
	display: flex;
	background: #131C33;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a, footer p{
	font-size: 20;
}

footer .right{
	display: flex;
	justify-content: start;
	align-items: center;
	width: 50%;
	flex-direction: column;
}

footer .top, footer .bottom{
	width: 100%;
	margin-top: 30px;
}

#top-around, #bottom-around{
	margin: 20px;
}

footer .top{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#top-around{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

#bottom-around{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

#bottom-around a{
	width: 200px;
	text-align: center;
}

.top .number{
	display: flex;
	flex-direction: column;
}

.top .number a:hover{
	text-decoration: underline;
	color: #9462FF;
}

.top .adress{
	display: flex;
	align-items: center;
}

.top .adress a:hover{
	text-decoration: underline;
	color: #9462FF;
}

footer .bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .bottom a:hover{
	text-decoration: underline;
	color: #9462FF;
}

.time-work{
	display: flex;
	flex-direction: column;
}

.number a, .time-work p{
	padding: 10px;
}

hr{
	width: 70%;
	height: 5px;
	background: radial-gradient( #9171d6, #9171d6, #6408F9, #3C23DB);
	border: none;
}



section{
	background: #131C33;
	display: flex;
	flex-direction: column;
	width: 100%;
}



.up-text p{
	font-size: 25px;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.up-text h2{
	font-size: 50px;
	color: #9462FF;
	display: flex;
	text-align: center;
	flex-direction: column;
	margin: auto;
}


section .semi-right{
	display: table;
	margin: auto;
	padding: auto;
}


section .right h2{
	display: flex;
	font-size: 20px;
	flex-direction: column;
}

section .right p{
	display: flex;
	font-size: 15px;
	text-align: justify;
	width: 15%;
	text-align: center;
}

section .semi-right h2{
	display: flex;
	font-size: 20px;
}

section .semi-right p{
	display: flex;
	font-size: 15px;
	text-align: justify;
	width: 15%;
	text-align: center;

}

.container{
	display: flex;
	width: 1000px;	
	margin: auto;
	text-align: center;
}

.container h2{
	display: flex;
	font-size: 18px;
	justify-content: center;
}


.text-path{
	padding: 15px;
	border: 1px solid;
	margin-right: 10px;
}

.text-path p {
	text-align: center;
}